h1 {
    color:white;
    position : relative;
    top:100px; 
    text-align: center;
}

p {
    color:white;
    position : relative;
    top:100px;
    text-align: center;
}

.mission{
    font-size: 65px;
    margin-left: 90px;
    position: relative;
    top: 90px;
  }
  
  .OurMission{
    font-size: 35px;
    margin-left: 110px;
    position: relative;
    top: 20px;
  }